/* H5 of the card */
#header{
  font-size: 21px;
  font-weight: 400;
}

/* Paragraphy of card */
#card-para{
  font-size: 14px;
}

/* read more */
#read{
  color: #007dfe;
  font-weight: bold;
  font-weight: 14px;
}